.footer p {
    text-align: center;
}

#create-account-form {
    margin-bottom: 50px
}

#create-account-form form {
    width: 300px;
    margin: 0 auto;
}

form div.error {
    color: #d9534f;
}

.accounts table th {
    text-align: center;
}
